<h1>Pirates and Ships Form</h1>
<<<<<<< HEAD
<body>
<form action="/pirates" method="post">
  <label for="pirate[name]"> Pirate</label>
  <input type="text" name="pirate[name]">
  <label for="pirate[weight]"> Pirate weight</label>
  <input type="text" name="pirate[weight]">
  <label for="pirate[height]"> Pirate height</label>
  <input type="text" name="pirate[height]">
  <label for="ship_name_1"> Ship1</label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]">
  <label for="ship_type_1"> Ship1 type</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]">
  <label for="ship_booty_1"> Ship1 booty</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  <label for="ship_name_2"> Ship2</label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]">
  <label for="ship_type_2"> Ship2 type</label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]">
  <label for="ship_booty_2"> Ship2 booty</label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
  <input type="submit" value="Submit">
</form>
</body>
=======
<form action='/pirates' method='post'>
  Pirate: <input type="text" name="pirate[name]">
  Weight: <input type="text" name="pirate[weight]">
  Height: <input type="text" name="pirate[height]">
  Ship1: <input id="ship_name_1" type="text" name="pirate[ships][0][name]">
  Ship1 type: <input id="ship_type_1" type="text" name="pirate[ships][0][type]">
  Ship1 booty: <input id="ship_booty_1" type="text" name="pirate[ships][0][booty]">
  Ship2: <input id="ship_name_2" type="text" name="pirate[ships][1][name]">
  Ship2 type: <input id="ship_type_2" type="text" name="pirate[ships][1][type]">
  Ship2 booty: <input id="ship_booty_2" type="text" name="pirate[ships][1][booty]">
  <input type="submit">
</form>
>>>>>>> feb4f01e41a68a944aaa62413dcdbccb3c27013f
